#masterContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid red;
    /* flex-wrap: wrap; */
    box-sizing: border-box;
}

#masterContainer div {
    background: lightgray;
    /* border: 1px solid black; */
    display: flex;
    flex: 1 1 auto;
}

#rowContainer {
    width: 500px;
}

#newGridBtn {
    margin: 20px;
}