#masterContainer {
    display: flex;
    border: 2px solid red;
    max-width: 1000px;
    flex-wrap: wrap;
}

#masterContainer div {
    background: grey;
    border: 1px solid black;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    flex: 1;
}