#masterContainer {
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid red;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#masterContainer div {
    background: lightgray;
    border: 1px solid black;
    width: 28px;
    display: flex;
    flex: 1 1 auto;
    /* flex-basis: auto; */
}

#newGrid {
    margin: 20px;
}